<div class="page-wrapper white-section clearfix">
    <div class="row">
        <div class="col-md-8">
            <h2>Contact Us</h2>
        </div><!-- end col -->

        <div class="col-md-4">
            <ol class="breadcrumb text-right">
                <li><a href="#">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div><!-- end row -->

    <hr>

    <!-- START BUILDER -->
    <div id="single-shop" class="row">
        <div class="col-lg-12">

            <div class="contact_list clearfix">
                <div class="col-sm-4 wow fadeInUp">
                    <h6>Address</h6>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> Area Name: Name comes here</li>
                        <li><i class="fa fa-map-marker"></i> Street Name: Name comes here</li>
                        <li><i class="fa fa-phone"></i> +91 123 456 7890</li>
                        <li><i class="fa fa-fax"></i> +91 123 456 7890</li>
                        <li><i class="fa fa-envelope"></i>info@printbook.com</li>
                    </ul>
                </div>

                <div class="col-sm-8 wow fadeInUp">
                    <div class="contact_form row wow fadeIn">
                        <div id="message"></div>
                        <form id="contactform" class="row" name="registerform" angular-validator-submit="submitcontactForm()" novalidate angular-validator>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Name"
                                       class = "form-control UserLogIn_email"
                                       ng-model = "form.fullname"
                                       required-message="'Name cannot be blank.'"

                                       required>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <input type="email" name="emailid" id="emailid" class="form-control" placeholder="Email"
                                       class = "form-control UserLogIn_email"
                                       ng-model = "form.email"
                                       required-message="'Email cannot be blank.'"
                                       invalid-message="'Enter valid email address.'"
                                       required>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone"
                                       class = "form-control UserLogIn_email"
                                       ng-model = "form.phone"
                                       required-message="'Phone cannot be blank.'"

                                       required>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Message Below"
                                          ng-model = "form.message"
                                          required-message="'Message  cannot be blank.'"

                                          required></textarea>
                                <div class="text-right">
                                    <button type="submit" value="SEND" id="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i> SEND MAIL</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- end contactlist -->

            <hr>

            <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243208.21023949358!2d83.26252105000003!3d17.738593599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a39431389e6973f%3A0x92d9c20395498468!2sVisakhapatnam%2C+Andhra+Pradesh!5e0!3m2!1sen!2sin!4v1435318908071" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe></div>


        </div><!-- end col -->
    </div><!-- end row -->
</div>