<div class="page-wrapper white-section clearfix">
    <div class="row">
        <div class="col-md-8">
            <h2>Services List</h2>
        </div><!-- end col -->

        <div class="col-md-4">
            <ol class="breadcrumb text-right">
                <li><a href="#">Home</a></li>
                <li class="active">Services List</li>
            </ol>
        </div>
    </div><!-- end row -->

    <hr>

    <!-- START BUILDER -->
    <div id="single-shop">
        <div id="shoptop" class="row">
            <div class="col-md-12">
                <div class="text-left">
                    <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sort by <span class="dropme"></span></button>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a href="#">Best Sellers</a></li>-->
                            <!--<li><a href="#">Lower Prices</a></li>-->
                            <!--<li><a href="#">Higher Prices</a></li>-->
                            <!--<li><a href="#">Higher Prices</a></li>-->
                            <!--<li><a href="#">Most Popular</a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
                    <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Show <span class="dropme"></span></button>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a href="#">15</a></li>-->
                            <!--<li><a href="#">30</a></li>-->
                            <!--<li><a href="#">45</a></li>-->
                            <!--<li><a href="#">60</a></li>-->
                            <!--<li><a href="#">75</a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
                </div><!-- end right -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div id="shoplist" class="row" ng-if="products != false">
            <div class="col-md-3 col-sm-6" ng-repeat ="product in products ">
                <div class="shop-item-list entry" >
                    <a class="hover-image" ui-sref="customizeproduct({productId: product.id})" title="">
                        <div class="img-rotate" >

                            <h2 align="center" style="background:#F3F8FE; color:#1B92D1">{{product.name}}<img src="http://admin.printbook.in/sites/default/files/styles/product_list/public/{{product.image}}" alt="">
                                <img src="http://admin.printbook.in/sites/default/files/styles/product_list/public/{{product.image}}" class="rotate-image" alt="">
                            </h2>
                        </div>
                    </a>
                    <div class="shop-item-title clearfix">
                        <div class="shopmeta">
                            <a ui-sref="customizeproduct({productId: product.id})"><span class="pull-left">Customize Now</span></a>

                        </div><!-- end shop-meta -->
                    </div><!-- end shop-item-title -->
                    <!-- end buttons -->
                </div><!-- end relative -->
            </div><!-- end col -->





        </div><!-- end shoplist -->
    </div><!-- end row -->
    <div ng-show="showval">Comming Soon !!!</div>

    <!--<nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>-->

</div>