
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Payment Methods</h4>
                    </div><!-- end section-title -->

                    <ul class="list-inline payments">
                        <li><a href="#"><i class="fa fa-cc-paypal fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-visa fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-wallet fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-stripe fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover fa-2x"></i></a></li>
                    </ul>
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>We're available 24/7</h4>
                    </div><!-- end section-title -->

                    <div class="big-call">
                        <span><i class="fa fa-phone"></i> +90 123 45 67</span>
                        <span><i class="fa fa-fax"></i> +90 123 45 68</span>
                    </div>
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr>

        <!-- end row -->
    </div><!-- container -->
</footer>

<div class="copyrights text-center">
    <p><a ui-sref="terms">Terms &amp; Conditions</a> | <a ui-sref="privacy">Privacy Policy</a> | <a ui-sref="disc">Disclaimer</a></p>
    <p>Printbook.in - Designed by <a href="http://thecolourmoon.com" target="_blank">Colour Moon</a> © 2015</p>
</div><!-- end copy -->

<div class="backtotop"><i class="fa fa-arrow-up"></i> </div>