<div class="header-bottom">
    <div class="row">
        <div class="col-md-9">
            <div class="custom-menu">
                <p>Dear customer, welcome to the Print Book, please <a href="login.html">login</a> or <a href="register.html">create an account</a></p>
            </div><!-- end menu -->
        </div><!-- end col -->

        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for products..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div>