<div class="header-bottom">
    <div class="row">
        <div class="col-md-9">
            <div class="custom-menu">
                <p ng-show="loginFlag">Dear customer, welcome to the Print Book, please <a ui-sref="login">login</a> or <a ui-sref="register">create an account</a></p>
                <p ng-show="logoutFlag">Dear customer, welcome to the Print Book,  <a ui-sref="logout">logout</a>  </p>
            </div><!-- end menu -->
        </div><!-- end col -->

        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for products..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div>