<div class="page-wrapper white-section clearfix">
    <div class="row">
        <div class="col-md-8">
            <h2>Login</h2>
        </div><!-- end col -->

        <div class="col-md-4">
            <ol class="breadcrumb text-right">
                <li><a href="#">Home</a></li>
                <li class="active">Login</li>
            </ol>
        </div>
    </div><!-- end row -->

    <hr>

    <!-- START BUILDER -->
    <div id="single-shop">

        <div class="row">
            <div class="col-lg-6">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div><!-- end col -->

            <div class="col-lg-6">
                <img src="images/login.jpg" class="img-responsive" align="middle"><!-- accordion -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr>

        <!-- end row -->


    </div><!-- end row -->
</div>