<div class="modal fade modalexample" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body row">
                <div class="col-md-6">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="images/shop_single_01.png" class="img-responsive" alt="">
                            </div>
                            <div class="item">
                                <img src="images/shop_single_02.png" class="img-responsive" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                            <i class="sr-only">Previous</i>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                            <i class="sr-only">Next</i>
                        </a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6">
                    <div class="pull-left">
                        <h4>Advanced Classic Pants</h4>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <span>$31.12</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div><!-- end rating -->

                    <p>Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit. Cras neque nulla, convallis non commodo et, euismod nonsese. At vero.</p>

                    <div class="btn-group">
                        <a href="#" class="btn btn-primary" title="">ADD TO CART</a>
                    </div>
                    <div class="addw">
                        <a href="#"><i class="fa fa-heart-o"></i> Add to Wishlist</a>
                    </div><!-- end addw -->
                </div><!-- end col -->
            </div><!-- end modal-body -->
        </div><!-- end modal-content -->
    </div><!-- end modal-diolog -->
</div><!-- end modal -->