<div class="page-wrapper white-section clearfix">
    <div class="row">
        <div class="col-md-8">
            <h2>Register</h2>
        </div><!-- end col -->

        <div class="col-md-4">
            <ol class="breadcrumb text-right">
                <li><a href="#">Home</a></li>
                <li class="active">Register</li>
            </ol>
        </div>
    </div><!-- end row -->

    <hr>

    <!-- START BUILDER -->
    <div id="single-shop">

        <div class="row">
            <div class="col-lg-6">
                <form role="form" class="form-horizontal" name="registerform" angular-validator-submit="submitregisterForm()" novalidate angular-validator>
                    <div class="form-group">
                        <label for="name">Enter Name</label>
                        <input type="text" id="register_name" name="name" placeholder="Enter Name"
                               validate-on="blur"
                               class = "form-control UserLogIn_email"
                               ng-model = "form.fullname"
                               required-message="'name cannot be blank.'"

                               required>
                    </div>

                    <div class="form-group">
                        <label for="username">Enter User Name</label>
                        <input type="text" id=register_username" name="username" placeholder="Enter User Name"
                               validate-on="blur"
                               class = "form-control UserLogIn_email"
                               ng-model = "form.username"
                               required-message="'User name cannot be blank.'"

                               required>
                    </div>

                    <div class="form-group">
                        <label for="email">Enter Email</label>
                        <input type="email" name="email" id="register_email" placeholder="Enter Email"
                               validate-on="blur"
                               class = "form-control UserLogIn_email"
                               ng-model = "form.email"
                               required-message="'Email cannot be blank.'"
                               invalid-message="'Enter valid email address.'"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Mobile Number</label>
                        <input type="text" name="phone" id="register_phone" placeholder="Mobile Number"
                               validate-on="dirty"
                               class = "form-control UserLogIn_email"
                               ng-model = "form.phone"
                               required-message="'Phone cannot be blank.'"

                               required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="register_password" placeholder="Password"
                               validate-on="blur"
                               class = "form-control UserLogIn_email"
                               ng-model = "form.password"
                               required-message="'Password cannot be blank.'"
                               validator = "passwordValidator(form.password) === true"
                               invalid-message = "passwordValidator(form.password)"

                               required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div><!-- end col -->

            <div class="col-lg-6">
                <img src="images/register.jpg" class="img-responsive" align="middle"><!-- accordion -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr>

        <!-- end row -->


    </div><!-- end row -->
</div>