<div class="white-section withtitle clearfix wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title bgcolor">
                <h4>OUR <span>SERVICES</span></h4>
            </div><!-- end section-title -->
        </div><!-- end col -->
    </div><!-- end row -->

    <div id="owl-featured">
        <div class="owl-featured">
            <div class="shop-item-list entry">
                <div>
                    <h2 align="center" style="background:#F3F8FE; color:#1B92D1">COPY AND PRINT<img src="images/p1.jpg" alt=""></h2>
                </div>

                <div class="shop-item-title clearfix">
                    <!--<h4><a href="#">Verdenal Children's House</a></h4>-->
                    <div class="shopmeta">
                        <a href="customize.html"><span class="pull-left">Design / Order Now</span></a>

                    </div><!-- end shop-meta -->
                </div><!-- end shop-item-title -->
            </div><!-- end relative -->
        </div><!-- end col -->

        <div class="owl-featured">
            <div class="shop-item-list entry">
                <div>
                    <h2 align="center" style="background:#F3F8FE; color:#1B92D1">PROJECT<img src="images/p2.jpg" alt=""></h2>
                </div>

                <div class="shop-item-title clearfix">
                    <div class="shopmeta">
                        <a href="customize.html"><span class="pull-left">Design / Order Now</span></a>

                    </div><!-- end shop-meta -->
                </div><!-- end shop-item-title -->
                <!-- end buttons -->
            </div><!-- end relative -->
        </div><!-- end col -->

        <div class="owl-featured">
            <div class="shop-item-list entry">
                <div>
                    <h2 align="center" style="background:#F3F8FE; color:#1B92D1">MANUAL<img src="images/p3.jpg" alt=""></h2>
                </div>

                <div class="shop-item-title clearfix">
                    <div class="shopmeta">
                        <a href="customize.html"><span class="pull-left">Design / Order Now</span></a>

                    </div><!-- end shop-meta -->
                </div><!-- end shop-item-title -->
                <!-- end buttons -->
            </div><!-- end relative -->
        </div><!-- end col -->

        <div class="owl-featured">
            <div class="shop-item-list entry">
                <div>
                    <h2 align="center" style="background:#F3F8FE; color:#1B92D1">OVERSIZED PRINTS<img src="images/p4.jpg" alt=""></h2>
                </div>

                <div class="shop-item-title clearfix">
                    <div class="shopmeta">
                        <a href="customize.html"><span class="pull-left">Design / Order Now</span></a>

                    </div><!-- end shop-meta -->
                </div><!-- end shop-item-title -->
                <!-- end buttons -->
            </div><!-- end relative -->
        </div><!-- end col -->


    </div>
    <!-- end owl-featured -->
</div>