<div class="white-section withtitle clearfix wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
    <!--<div class="row">
        <div class="col-md-12">
            <div class="section-title bgcolor">
                <h4>Recent <span>Items</span></h4>
            </div><!-- end section-title
        </div><!-- end col
    </div>--><!-- end row -->

    <div id="owl-recent">
        <div class="owl-featured">
            <div class="shop-item-list entry">
                <div>
                    <h2 align="center" style="background:#F3F8FE; color:#1B92D1">HEALTH CARE POST CARDS<img src="images/p5.jpg" alt=""></h2>
                </div>

                <div class="shop-item-title clearfix">
                    <div class="shopmeta">
                        <a href="customize.html"><span class="pull-left">Design / Order Now</span></a>

                    </div><!-- end shop-meta -->
                </div><!-- end shop-item-title -->
                <!-- end buttons -->
            </div><!-- end relative -->
        </div><!-- end col -->

        <div class="owl-featured">
            <div class="shop-item-list entry">
                <div>
                    <h2 align="center" style="background:#F3F8FE; color:#1B92D1">PHOTO ENLARGEMENT<img src="images/p6.jpg" alt=""></h2>
                </div>

                <div class="shop-item-title clearfix">
                    <div class="shopmeta">
                        <a href="customize.html"><span class="pull-left">Design / Order Now</span></a>

                    </div><!-- end shop-meta -->
                </div><!-- end shop-item-title -->
                <!-- end buttons -->
            </div><!-- end relative -->
        </div><!-- end col -->

        <div class="owl-featured">
            <div class="shop-item-list entry">
                <div>
                    <h2 align="center" style="background:#F3F8FE; color:#1B92D1">LETTER HEAD<img src="images/p7.jpg" alt=""></h2>
                </div>

                <div class="shop-item-title clearfix">
                    <div class="shopmeta">
                        <a href="customize.html"><span class="pull-left">Design / Order Now</span></a>

                    </div><!-- end shop-meta -->
                </div><!-- end shop-item-title -->
                <!-- end buttons -->
            </div><!-- end relative -->
        </div><!-- end col -->

        <div class="owl-featured">
            <div class="shop-item-list entry">
                <div>
                    <h2 align="center" style="background:#F3F8FE; color:#1B92D1">MULTIPART FORM<img src="images/p8.jpg" alt=""></h2>
                </div>

                <div class="shop-item-title clearfix">
                    <div class="shopmeta">
                        <a href="customize.html"><span class="pull-left">Design / Order Now</span></a>

                    </div><!-- end shop-meta -->
                </div><!-- end shop-item-title -->
                <!-- end buttons -->
            </div><!-- end relative -->
        </div><!-- end col -->

        <!-- end col -->
    </div><!-- end owl-featured -->
</div><!-- end white-section -->
