<div class="topbar">
    <div class="topbar-wrapper">
        <div class="text-left">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cart-plus"></i> Cart: (2 items) <span class="dropme"></span></button>
                <ul class="dropdown-menu cartdrop" role="menu">
                    <li>
                        <a href="#">
                            <img title="product" alt="product" class="alingleft" src="images/shop_menu_01.jpg">
                            <h4>PROJECT<small>Quantity : 1 - Price : $23.12</small></h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img title="product" alt="product" class="alingleft" src="images/shop_menu_02.jpg">
                            <h4>COPY AND PRINT<small>Quantity : 1 - Price : $23.12</small></h4>
                        </a>
                    </li>
                    <li>
                        <a href="shop-checkout.html" class="btn btn-primary">Checkout</a>
                    </li>
                </ul>
            </div>
            <!--<div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">En <span class="dropme"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">GR</a></li>
                    <li><a href="#">TR</a></li>
                    <li><a href="#">AB</a></li>
                    <li><a href="#">SP</a></li>
                    <li><a href="#">IT</a></li>
                </ul>
            </div>--><!-- /btn-group -->
           <!-- <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-dollar"></i> Euro <span class="dropme"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-euro"></i> Dollar</a></li>
                    <li><a href="#"><i class="fa fa-turkish-lira"></i> YTL</a></li>
                    <li><a href="#"><i class="fa fa-yen"></i> Yen</a></li>
                </ul>
            </div>-->
        </div><!-- end right -->
    </div><!-- end topbar-wrapper -->
</div><!-- end topbar -->